html {
}

body {
    background-color: #ECEBE3;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: inherit;
}

div.main-content {
    height: 100%;
}

div.calculator {
    margin: 10vh auto 0 auto;
    height: 65vh;
    width: min(50vh, 95vw);
    background-color: #C5CAD1;
    border: 6px solid #313B4E;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: center;
    padding: 1vh;
    border-radius: 10px;
}

div.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    justify-content: space-between;
    height: 100%;
}


div.row {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    gap: 1vh;
}

button {
    transition: 0.1s all;
    border-radius: 5px;
    height: 9.5vh;
    width: min(11vh, 20vw);
    background-color: #CCA72A;
    border: 2px solid #313B4E;
    font-size: min(20pt, 7vw);
}

button.button-right {
    background-color: #93EAEE;
}

button.button-top {
    background-color: #567F88;
}

div.display {
    gap: 1vh;   
    font-size: min(5vh, calc(2vw + 2vh));
    padding: 1vh;
    padding-bottom: 0;
    display: flex;
    position: relative;
    justify-content: flex-end;
    flex-direction: column;
    align-items: end;
    text-align: end;
    height: 15vh;
    width: 100%;
    background-color: lightblue;
    border: 2px solid #313B4E;
}

div.secondary {
    position: absolute;
    top: 1vh;
    font-size: min(12pt, 3vw);
}

button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
    filter: brightness(95%);

}

button:active {
  filter: brightness(85%);
  box-shadow: 0 5px black;
  transform: translateY(1px);
}

button[value="0"] {
    width: min(23vh, 42vw);
}

h4.watermark {
    margin: 0;
}

h4 {
    margin: 0;
    width: 100%;
    text-align: center;
}

div.watermark-box {
    bottom: 0vh;
    margin: auto;
    margin-top: 6vh;
}

div.watermark-box > * {
    font-size: min(inherit, 0.5vh);
}