html {
    max-height: 100vh;
}

body {
    background-color: #ECEBE3;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: inherit;
}

div.main-content {
    height: 100%;
}

div.calculator {
    margin: 8rem auto 0 auto;
    height: 65vh;
    width: 50vh;
    background-color: #C5CAD1;
    border: 6px solid #313B4E;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: center;
    padding: 1vh;
    border-radius: 10px;
}

div.buttons {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    justify-content: space-between;
    height: 100%;
}


div.row {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    gap: 1vh;
}

button {
    transition: 0.1s all;
    border-radius: 5px;
    height: 9.5vh;
    width: 11vh;
    background-color: #CCA72A;
    border: 2px solid #313B4E;
    font-size: 20pt;
}

button.button-right {
    background-color: #93EAEE;
}

button.button-top {
    background-color: #567F88;
}

div.display {
    gap: 1vh;
    font-size: 5vh;
    padding: 1vh;
    padding-bottom: 0;
    display: flex;
    position: relative;
    justify-content: flex-end;
    flex-direction: column;
    align-items: end;
    text-align: end;
    height: 15vh;
    width: 100%;
    background-color: lightblue;
    border: 2px solid #313B4E;
}

div.secondary {
    position: absolute;
    top: 1vh;
    font-size: 12pt;
}

button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
    filter: brightness(95%);

}

button:active {
  filter: brightness(85%);
  box-shadow: 0 5px black;
  transform: translateY(1px);
}

button[value="0"] {
    width: 23vh;
}

h4.watermark {
    bottom: 10px;
}

h4 {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 40px;
}